<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if flash[:notice] %>
      <div>
        <p><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div>
        <p><%= alert %></p>
      </div>
    <% end %>


    <% if current_user %>
      <%= "Welcome, #{current_user.name}" %>
      <%= link_to 'Logout', session_path(current_user.id), method: 'delete' %>
    <% else %>
      <%= link_to 'Login', new_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
